/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   Licença: nenhuma (domínio público)
*/

html, corpo, div, intervalo, applet, objeto, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pré,
a, abbr, acrônimo, endereço, grande, citar, código,
del, dfn, em, img, ins, kbd, q, s, samp,
pequeno, greve, forte, sub, sup, tt, var,
b, u, i, centro,
dl, dt, dd, ol, ul, li,
conjunto de campos, formulário, rótulo, legenda,
tabela, legenda, tbody, tfoot, thead, tr, th, td,
artigo, lado, tela, detalhes, incorporar,
figura, legenda, rodapé, cabeçalho, hgroup,
menu, nav, saída, ruby, seção, resumo,
tempo, marca, áudio, vídeo {
	margem: 0;
	preenchimento: 0;
	borda: 0;
	tamanho da fonte: 100%;
	fonte: herdar;
	alinhamento vertical: linha de base;
}
/* Redefinição da função de exibição HTML5 para navegadores mais antigos */
artigo, aparte, detalhes, legenda, figura,
rodapé, cabeçalho, hgroup, menu, navegação, seção {
	exibição: bloco;
}
corpo {
	altura da linha: 1;
}
olá, olá {
	estilo de lista: nenhum;
}
citação em bloco, q {
	citações: nenhuma;
}
blockquote:antes, blockquote:depois,
q:antes, q:depois {
	contente: '';
	conteúdo: nenhum;
}
tabela {
	colapso da fronteira: colapso;
	espaçamento entre bordas: 0;
}