body {
    background-color:#1C1C1C;
    height: 250vw;
    
}
header{
    background-color: rgb(125, 140, 121);
}

.logo{
    width: 12%;
}

.menu{
   
}

.texto-principal {
    margin-right: 20%; 
}

h1,h2 {
    color: #D3D3D3;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 25px;
}

p {
    color:  #5F9EA0;
    padding: 3px;


}

#imagem-principal {
    width: 10%;
    margin-left: 60%;
    border: 5px dotted salmon;
    float: left;
    position: absolute;
}
.lista{
    font-size: 25px;
    padding: 10px;
    text-decoration-line: underline;
    font-family: 'Akronim', cursive;
}

.itens {
	color:  #5F9EA0;
	text-decoration: underline;
}
.texto-principal {
    text-align: justify;
}




p {
    color:  #5F9EA0;

}
#imagem-principal {
    width: 10%;
    margin-left: 80%;
    border: 5px dotted salmon;
    float: left;
    position: absolute;
}

.itens {
	color: blue;
	text-decoration: underline;
}

nav{
    
    position:absolute;
    top:50px;
    right: 50px;
    

}

nav li{
    display: inline;
    margin-right: 10px;
}
nav a{
    font-size: 22px;
    color: rgb(21, 20, 20);
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}